
.header{
    padding: 1%;
    font-weight: bold;
    font-size: 1.5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gridContainer {
    display: grid;
    place-items: center; /* This shorthand centers both vertically and horizontally */
    height: 80vh; /* Full viewport height */
    width: 80vw; 
}

