.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}

.header{
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
}