.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  white-space: nowrap;

}


.linkMain {
  display: flex;
  /* New */
  align-items: center;
  /* New */
  justify-content: center;
  /* New */
  margin: 0 15px;
  text-decoration: none;
  color: #2b2b2b;
  padding: 12px;
  /* Increased padding to make the link bigger */
  font-size: 20px;
  /* Increased font size to make the text bigger */
  background-color: #00c3ff;
  border: 2px solid #00c3ff;

  border-radius: 30px;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-weight: bold;
}


.secDiv{
  display: flex;
}

.linkSec {
  display: flex;
  /* New */
  align-items: center;
  /* New */
  justify-content: center;
  /* New */
  margin: 0 15px;
  text-decoration: none;
  color: #2b2b2b;
  padding: 12px;
  /* Increased padding to make the link bigger */
  font-size: 20px;
  /* Increased font size to make the text bigger */
  background-color: #b3b3b3;
  border: 2px solid #b3b3b3;
  border-radius: 30px;
  transition: color 0.3s ease, border-color 0.3s ease;

}



.linkSec:hover {

  /* Change color on hover */
  border-color: aliceblue;
  background-color: aliceblue;

}