.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    white-space: nowrap;
    background-color: #2b2b2b;
  }
  
  .linkMain {
    display: flex; /* New */
    align-items: center; /* New */
    justify-content: center; /* New */
    margin: 0 15px;
    text-decoration: none;
    color: #f5f5f5; 
    padding: 12px; /* Increased padding to make the link bigger */
    font-size: 20px; /* Increased font size to make the text bigger */
    background-color: #4d94ff;
    border: 2px solid #4d94ff;
    
  border-radius: 30px;
  transition: color 0.3s ease, border-color 0.3s ease;
  
  }
  .linkSec {
    display: flex; /* New */
    align-items: center; /* New */
    justify-content: center; /* New */
    margin: 0 15px;
    text-decoration: none;
    color: #b3b3b3; 
    padding: 12px; /* Increased padding to make the link bigger */
    font-size: 20px; /* Increased font size to make the text bigger */
    background-color: #2b2b2b;
    border: 2px solid #2b2b2b;
  border-radius: 30px;
  transition: color 0.3s ease, border-color 0.3s ease;
  
  }
  .link:hover {
    color: #707070;  /* Change color on hover */
    border-color: #888;
  }