.form {
  display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 50%;
}

.searchIcon {
  margin-left: 10px;
  fill: #00ffbb ;
  font-size: 30px;
}
.textField{
  border-color: #4d94ff ;
}

  