.container{    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
  
    padding-top: 1%;
}

.header{
    font-size: 2rem;
    font-weight: bold;
}